<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
    <style>
        body {
            padding: 8px 20px;
            font-size: 14px;
        }

        table {
            border-collapse: collapse;
        }

        tr {
            height: 28px;
        }

        tbody tr:hover {
            background: #eee;
        }

        td {
            font-size: 14px;
        }

        td, th {
            text-indent: 10px;
        }
    </style>
</head>
<body>
<h1>{{ .title }}</h1>
{{if .isBack }}
<p>&nbsp;&nbsp;<a href="{{ .backPath }}">&nbsp;Parent Directory ./&nbsp;</a></p>
{{end}}
<table>
    <thead>
    <tr>
        <th style="min-width: 120px; text-align: left;">Name</th>
        <th style="min-width: 160px; text-align: left;">Last Modified</th>
        <th style="min-width: 100px; text-align: left;">Size</th>
        <th style="min-width: 240px; text-align: left;">Description</th>
    </tr>
    </thead>
    <tbody>
    {{range $key,$value := .directory}}
    <tr>
        <td><a href="{{ $value.Path }}">{{$value.Name}}</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {{end}}
    {{range $key,$value := .files}}
    <tr>
        <td><a href="{{ $value.Path }}">{{$value.Name}}</a></td>
        <td>{{$value.Last}}</td>
        <td>{{$value.Size}}</td>
        <td>{{$value.Description}}</td>
    </tr>
    {{end}}
    </tbody>
</table>
</body>
</html>